@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&family=Rubik:wght@400;500;600;700&display=swap');
:root {
    --color-primary: #000000ca;
    --color-secondary: #ffb003;
    --color-tertiary: #ff585f;
    --color-primary-darker: #000000dc;
    --color-secondary-darker: #444;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #12e643b1;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #dfd9d9ab;
    --gradient-primary: linear-gradient(to top left, #3478cb, #88bff3);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 100%;
  position:absolute;
  top: 0;
  bottom: 0;
 
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #ddd;
  line-height: 1.9;
  background-color: var(--color-primary);
}


/* HEADER*/
.header{
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3vw;
}
.header_title{
  
    flex: 1;
    max-width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 2.5rem;
}
.nav {
  margin: 0 auto;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:6vw;
  width: 100%;
  z-index: 100;
  color: #444;
}
.nav.sticky {
    background-color: rgba(255, 255, 255, 0.95);
  }
  
.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20vw;
}
.nav__item {
    margin-left: 1vw;
    margin-right: 1vw;
  }

.nav__link{
    color: inherit;   
    font-size: 1vw;
    text-decoration: none;
}
.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.4vw 1vw;
  border-radius: 3vw;
  background-color: var(--color-secondary-darker);
  color: #ddd;
}
.logo{
    font: weight 400px; ;
    font-size: 1.5vw;
    text-decoration: none;
    color: #444;
    margin-left: 20vw;
}
.highlight__logo{
    color: #ddd;
}
.section{
  margin: 0 auto;
  width: 100%;
}
.section1{
  margin: 0 auto;
}
.section__title{
text-align: center;

}
h2{
    font-size: 5vw;
}
.categories__img{
  align-self: end;
    height: 15vw;
    width: 100%;
}
.categories__item{
  display:grid;
  align-items: stretch; 
  /* background-color: #fd424b; */
  grid-template-rows: 1fr auto;
  height: 15vw;
  
}
.categories{
margin: 0 auto;
display: grid;
grid-template-columns: repeat(5,15vw)  ;
grid-template-rows: repeat(3,25vw);
height: auto;
width: 93.7vw;
column-gap: 5%;
/* background-color: #3478cb; */
position: relative;
 }

 .features__header{
  /* height: auto; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  border-radius: 1.5vw;
  background-color: var(--color-primary-opacity);
  color: #ddd;
  line-height: 1.7vw;
  align-self: end;
  text-align: center;
 }

 .feature__link{
  text-decoration: none;
  list-style: none;
 }
 .footer{

  background-color: var(--color-primary-darker);
  height: auto;
 }
 .footer__nav{
  list-style: none;
  display: flex;
}
.footer__item{
  text-align: center;
  width: 50%;
  font-size: 1.5vw;
}
.footer__link{
  text-decoration: none;
  color: #ddd;
}
.footer__copyright{
  
  text-align: end;
}
@media only screen and (max-width: 800px) {

  .categories {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3,1fr);
      margin: 0 auto;
      row-gap: 15%;
      padding-bottom:20% ;
  }}
  /*mobile*/
@media only screen and (max-width: 480px) {
  h2{
    font-size: 48px;
  }
  
  .header{
   height: auto;
    margin: 0 auto;
  }
 
  .nav.sticky {
      background-color: rgba(255, 255, 255, 0.95);
    }
    
  .nav__links{
      margin-left: 6rem;
      margin-right: 0;
  }
  .nav__item {
      width: auto;
    } 
  .logo{
      font: weight 400px; ;
      font-size: 6vw;
      text-decoration: none;
      color: #444;
      margin-left: 2vw;
  }
  .highlight__logo{
      color: #ddd;
  }
  
  
    

    .nav{
      height:15vw;
    }
    .nav__link--btn:link,
    .nav__link--btn:visited {
      padding: 0.8vw 2.5vw;
      border-radius: 3vw;
      font-size: 10px;
      background-color: var(--color-secondary-darker);
      color: #ddd;
    }
    .nav__link{
      color: inherit;   
      font-size: 10px;
      text-decoration: none;
    }
    
    .footer{
      position: absolute;
      bottom: 0; 
      left: 0; 
      z-index: 10;
      width: 100%;
      background-color: var(--color-primary-darker);
      /* height: auto; */
     }
     .footer__nav{
      list-style: none;
      display: flex;
    }
    .footer__item{
      text-align: center;
      width: 50%;
      font-size: 1.5vw;
    }
    .footer__link{
      font-size: 10px;
      text-decoration: none;
      color: #ddd;
    }
    .footer__copyright{
      
      text-align: end;
    }
  .categories {
    margin-top: 80px;
    grid-template-columns: repeat(3,28vw)  ;
    row-gap: 50px;
    padding-bottom: 30px;
  }
  .categories__item{
    height: 120px;
  }

  .categories__img{
    align-self: end;
    height: 120px;
    width: 134.4px;
  }
  .features__header{
    font-size: 3vw;
    line-height: 16px;
    text-align: center;
  
  }
 
}