@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&family=Rubik:wght@400;500;600;700&display=swap');
:root {
    --color-primary: #000000ca;
    --color-secondary: #ffb003;
    --color-tertiary: #ff585f;
    --color-primary-darker: #000000dc;
    --color-secondary-darker: #444;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #12e643b1;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #dfd9d9ab;
    --gradient-primary: linear-gradient(to top left, #3478cb, #88bff3);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* height: 100%; */
}
body {
  margin: 0 auto;
  width: 100%;
  /* height: 100%; */
  position:absolute;
  top: 0;
  bottom: 0;
 
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #ddd;
  line-height: 1.9;
  background-color: var(--color-primary);
}
.container {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  .section {
    /* padding: 20px; */
    box-sizing: border-box;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .container__btn{
    margin-left: 10px;
  }
  
.nav {
  margin: 0 auto;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:8vw;
  width: 100%;
  z-index: 100;
  color: #444;
  height:15vw;
}
.nav.sticky {
    background-color: rgba(255, 255, 255, 0.95);
  }
  
.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__item {
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: 100px;
  }
.logo{
    font: weight 400px; ;
    font-size: 6vw;
    text-decoration: none;
    color: #444;
    margin-left: 2vw;
}
.highlight__logo{
    color: #ddd;
}

.nav__link--btn:link,
.nav__link--btn:visited {
    padding: 0.8vw 2.5vw;
    border-radius: 3vw;
    font-size: 10px;
    background-color: var(--color-secondary-darker);
    color: #ddd;
}
.nav__link{
  color: inherit;   
  font-size: 14px;
  text-decoration: none;
}
 .question-button{
    display: grid;
    margin:0 auto;
    width: 90%;
    gap: 60px;
 }
 .question{
    margin-top: 60px;
    height: 200px;
    border: 4px #ffb003 solid;
    border-radius: 10px;
    text-align:center
    

 }
 .answer1{
    height: 100px;
    background-color:var(--color-secondary-darker);
    border: 2px #ffb003 solid;
    border-radius: 10px;

 }


















  .footer{
    position: absolute;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    background-color: var(--color-primary-darker);
    /* height: auto; */
   }
   .footer__nav{
    list-style: none;
    display: flex;
  }
  .footer__item{
    text-align: center;
    width: 50%;
    font-size: 1.5vw;
  }
  .footer__link{
    font-size: 10px;
    text-decoration: none;
    color: #ddd;
  }
  .footer__copyright{
    
    text-align: end;
  }